VC2008Samples/CLR/Scribble/MFC/Scribble/localhost/ScribbleWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRectangle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRectangleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Shape" type="tns:Shape" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Shape">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Points" type="tns:ArrayOfPoint" />
        </s:sequence>
        <s:attribute name="Name" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfPoint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Point" type="tns:Point" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Point">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCircle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="radius" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCircleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Shape" type="tns:Shape" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRectangleSoapIn">
    <wsdl:part name="parameters" element="tns:GetRectangle" />
  </wsdl:message>
  <wsdl:message name="GetRectangleSoapOut">
    <wsdl:part name="parameters" element="tns:GetRectangleResponse" />
  </wsdl:message>
  <wsdl:message name="GetCircleSoapIn">
    <wsdl:part name="parameters" element="tns:GetCircle" />
  </wsdl:message>
  <wsdl:message name="GetCircleSoapOut">
    <wsdl:part name="parameters" element="tns:GetCircleResponse" />
  </wsdl:message>
  <wsdl:portType name="ScribbleWSClassSoap">
    <wsdl:operation name="GetRectangle">
      <wsdl:input message="tns:GetRectangleSoapIn" />
      <wsdl:output message="tns:GetRectangleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCircle">
      <wsdl:input message="tns:GetCircleSoapIn" />
      <wsdl:output message="tns:GetCircleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScribbleWSClassSoap" type="tns:ScribbleWSClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRectangle">
      <soap:operation soapAction="http://tempuri.org/GetRectangle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCircle">
      <soap:operation soapAction="http://tempuri.org/GetCircle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScribbleWSClassSoap12" type="tns:ScribbleWSClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRectangle">
      <soap12:operation soapAction="http://tempuri.org/GetRectangle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCircle">
      <soap12:operation soapAction="http://tempuri.org/GetCircle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScribbleWSClass">
    <wsdl:port name="ScribbleWSClassSoap" binding="tns:ScribbleWSClassSoap">
      <soap:address location="http://localhost/ScribbleWS/ScribbleWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ScribbleWSClassSoap12" binding="tns:ScribbleWSClassSoap12">
      <soap12:address location="http://localhost/ScribbleWS/ScribbleWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>